<!--モーダルを表示するためのボタンを作る-->
<div class='modal-start'>
  <div class="mt-5"><h1>モーダルを起動する</h1></div>
</div>

<!--モーダルで表示するものを記述-->
<!--モーダル全体-->
<div class='modal'>
  <!--Font Awesomeでアイコンを追加-->
  <i class="fa-sharp fa-solid fa-xmark modal-close"></i>
  <div class='modal-contents'>
    <div class='modal-text'>モーダルでの表示成功！</div>
  </div>
</div>
<!--maskはmodalで囲わない-->
<div class='mask'></div>